.button {
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s;
}

.button:hover {
  transform: scale(1.2);
  color: white;
  border: 1px #fb95fb solid;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fb95fb solid;
}

li {
  list-style-type: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Red Rose", cursive;
}

h1 {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

p {
  color: #D4D4D4;
  line-height: 1.5;
  font-size: 1rem;
}

nav {
  display: inline-block;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

label {
  color: white;
}

/* HEADER */
.open, .cerrar {
  display: none;
}

.hidden-nav {
  display: none;
}

.header {
  /* background-color:#2c153c; */
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  /* border: solid white 1px; */
}

.header-left h1 {
  margin-top: 0.8rem;
}

.header-left a {
  transition: all 0.4s;
}

.header-left a:hover {
  color: #b5f1be;
  border: solid 1px white;
  padding: 3px 5px;
}

.subtitulo {
  color: white;
  font-size: 1.2rem;
}

.header-nav a {
  font-size: 1.2rem;
  transition: all 0.4s;
  display: inline-block;
}

.header-nav a:hover, .hidden-nav a:hover {
  color: #b5f1be;
  border: 1px solid white;
  padding: 5px;
}

/*END OF HEADER */
/* HERO */
.hero {
  padding-top: 30px;
}

.hero-title {
  font-size: 3.5rem;
}

.hero-title span {
  color: #fb95fb;
}

.hero-left div {
  display: flex;
  justify-content: space-around;
}

.hero p {
  margin: 1.5rem 0;
}

.hero a {
  margin: 1.5rem 0;
}

.hero-right a {
  color: white;
}

@keyframes efecto {
  0% {
    opacity: 0.7;
  }
  25% {
    opacity: 0.5;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0.7;
  }
}
.hero-right h5:hover {
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
}

.buttons {
  margin-bottom: 20px;
}

.carousel {
  margin-bottom: 40px;
}

/* END OF HERO */
/* ABOUT ME*/
.acercademi-container {
  border: 1px solid white;
  margin: 70px;
  padding: 20px;
  background-image: url("../img/mato.jpg");
}

.acercademi-container p {
  margin-bottom: 3rem;
}

.acercademi-container div {
  text-align: center;
  margin-bottom: 3rem;
}

.acercademi-container div img {
  margin: 20px;
}

/* /ABOUT ME*/
/* PORTALS */
.gallery-description {
  margin: 20px;
}

.gallery {
  /* border: 1px solid white; */
  margin: 50px;
  text-align: center;
}

.portal-descripcion {
  /* border: 1px solid white; */
  margin: 50px;
  padding: 50px;
}

.gallery-images.uno ul {
  display: grid;
  /* grid-template-columns: 20% 20% 20% 20%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: 2px violet solid; */
}

.gallery-images.dos ul {
  display: grid;
  /* grid-template-columns: 20% 20% 20% 20%; */
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px violet solid; */
}

.gallery-images ul li {
  border: 1px white solid;
  margin: 10px;
  display: grid;
}

.gallery-images li a img {
  width: 100%;
}

.gallery-images li a:hover {
  color: #ffd4ff;
}

.gallery-images li h3 {
  margin: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;
}

#modal1:target, #modal2:target, #modal3:target,
#modal4:target, #modal5:target, #modal6:target,
#modal7:target, #modal8:target, #modal9:target,
#modal10:target, #modal11:target, #modal12:target,
#modal13:target, #modal14:target, #modal15:target,
#modal16:target, #modal17:target, #modal18:target,
#modal19:target, #modal20:target, #modal21:target,
#modal22:target, #modal23:target, #modal24:target,
#modal25:target, #modal26:target, #modal27:target,
#modal28:target, #modal29:target, #modal30:target,
#modal31:target, #modal32:target, #modal33:target {
  display: block;
}

.modal-container {
  background-color: black;
  position: relative;
  border: 1px white solid;
  top: 5%;
  left: 20%;
  width: 70%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-container-img {
  width: 45%;
  /* border: 1px white solid; */
}

.modal-container-img img {
  width: 100%;
}

.modal-container-txt {
  width: 50%;
  /* border: white 1px solid; */
}

.modal-container-txt h2 {
  margin: 20px;
  text-align: center;
}

.modal-container-txt p {
  margin: 20px;
  text-align: center;
}

.modal-container a {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* FOOTER */
footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  /* border: 1px solid white;   */
}

footer p {
  text-align: center;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  margin-right: 2rem;
}

footer a img {
  padding: 5px 10px 10px 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: all 0.5s;
}

footer a img:hover {
  transform: rotate(10deg);
}

/* /FOOTER */
/* CONTACT */
.contact {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* background-image: url('../img/contact.jpg');  */
  background-size: cover;
}

.contact-container {
  /* background-color: rgba(255,255,255,0.1); */
  border: 2px solid white;
  border-radius: 40px;
  padding: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.input {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  /* hace que al clickearlo no muestre el borde*/
  outline: none;
  color: white;
  font-family: "Red Rose", cursive;
  font-size: 1.3rem;
  margin-top: 40px;
}

#pregunta, #suscribirme, #comentarios {
  margin-top: 40px;
}

#pregunta {
  font-family: "Red Rose", cursive;
  margin-left: 15px;
}

#comentarios {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button.submit:hover, .button.reset:hover {
  border: 1px #fb95fb solid;
}

.button.submit {
  margin-left: 30px;
}

.button.submit, .button.reset {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  /* hace que al clickearlo no muestre el borde*/
  outline: none;
  border: 1px solid white;
}

/* /CONTACT */
/* RESPONSIVE */
/* ----------------------------------------------------------------------- */
/* DESKTOP */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .header-nav {
    display: none;
  }

  .hidden-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 16;
  }

  .menues {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .hidden-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden-nav-container li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .hidden-nav .cerrar {
    display: block;
    position: absolute;
    top: 20px;
    right: 4rem;
    width: 30px;
  }

  #hidden-nav:target {
    display: block;
  }

  .header .open {
    display: block;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 4rem;
  }

  .header {
    display: inline-block;
    width: 100%;
  }

  .header-left {
    margin-left: 4rem;
  }

  .gallery-images.uno ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery-images.dos ul {
    grid-template-columns: 1fr 1fr;
  }
}
/* ----------------------------------------------------------------------- */
/* TABLET */
@media screen and (max-width: 767px) and (min-width: 480px) {
  .header-nav {
    display: none;
  }

  .hidden-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 16;
    transition: left 0.5s;
  }

  .menues {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .hidden-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden-nav-container li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .hidden-nav .cerrar {
    display: block;
    position: absolute;
    top: 20px;
    right: 4rem;
    width: 30px;
  }

  #hidden-nav:target {
    display: block;
  }

  .subtitulo {
    display: none;
  }

  .header .open {
    display: block;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 4rem;
  }

  .header {
    display: inline-block;
    width: 100%;
  }

  .header-left {
    margin-left: 2rem;
  }

  /* GALLERIES */
  .gallery {
    margin: 0;
  }

  .gallery-images.uno ul {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-images.dos ul {
    grid-template-columns: 1fr;
  }

  .modal-container {
    display: inline-block;
    top: 5%;
    left: 20%;
    width: 80%;
  }

  .modal-container-img {
    width: 100%;
  }

  .modal-container-txt {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* ABOUT ME */
  .acercademi-container {
    margin: 0;
  }

  /* CONTACT */
  .contact-container {
    /* background-color: rgba(255,255,255,0.1); */
    border: none;
    padding: 0;
    display: flex;
    width: 100%;
    text-align: center;
  }

  .pregunta {
    margin-top: 40px;
  }

  #pregunta {
    margin-top: 0px;
  }

  .nombre,
.apellido,
.email,
.input {
    width: 80%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}
/* ----------------------------------------------------------------------- */
/* MOBILE */
@media screen and (max-width: 479px) {
  .header-nav {
    display: none;
  }

  .header-left h1 {
    font-size: 1.4rem;
    text-align: right;
    margin-right: 0.2rem;
  }

  .hidden-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 16;
  }

  .menues {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .hidden-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden-nav-container li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .hidden-nav .cerrar {
    display: block;
    position: absolute;
    top: 20px;
    left: 1rem;
    width: 30px;
  }

  #hidden-nav:target {
    display: block;
  }

  .subtitulo {
    display: none;
  }

  .header .open {
    display: block;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 1rem;
  }

  .header {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.3rem;
  }

  .hero {
    padding-top: 0;
  }

  .hero h2 {
    font-size: 35px;
    text-align: center;
  }

  .hero p {
    text-align: center;
  }

  .hero .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 0.7rem;
  }

  .hero .buttons .button {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  /* GALLERIES */
  .gallery {
    margin: 0;
  }

  .gallery-images.uno ul {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-images.dos ul {
    grid-template-columns: 1fr 1fr;
  }

  .modal-container {
    display: inline-block;
    top: 5%;
    left: 10%;
    width: 80%;
  }

  .modal-container-img {
    width: 100%;
  }

  .modal-container-txt {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* ABOUT-ME */
  .acercademi-container {
    margin: 0;
  }

  .acercademi-container div img {
    max-width: 80%;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    align-items: center;
  }

  /* HEADER AND INDEX */
  /* CONTACT */
  .contact-container {
    /* background-color: rgba(255,255,255,0.1); */
    border: none;
    padding: 0;
    display: flex;
    width: 100%;
    text-align: center;
  }

  .pregunta {
    margin-top: 40px;
  }

  .nombre,
.apellido,
.email,
.input {
    width: 90%;
  }

  #pregunta {
    margin-top: 0px;
  }

  #comentarios {
    width: 90%;
  }
}
/* ----------------------------------------------------------------------- */