/* ABOUT ME*/
.acercademi-container{
    
    border: 1px solid white;
    margin: 70px;
    padding: 20px;
    background-image: url('../img/mato.jpg');  
}
.acercademi-container p{
    margin-bottom: 3rem; 
}

.acercademi-container div {
    text-align: center;
    margin-bottom: 3rem;  
}

.acercademi-container div img {
    margin: 20px;  
}

/* /ABOUT ME*/