
.inanna-container{
    border: 1px solid white;
    margin: 70px;
    padding: 20px;
    background-image: url('../img/mato.jpg');  
}

.inanna-container h2{
margin-bottom: 50px;
}



#img18, #img01 {
   width: 400px;
   float: left;
   margin-right: 1.5rem;
   margin-bottom: 10px;
}

 #img27 ,  #img26{
    width: 400px;
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 10px;
 }


 #inanna-section1 , #inanna-section2,  #inanna-section3,  #inanna-section4 {
     margin-bottom: 200px;
 }




/* /ABOUT ME*/