*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fb95fb solid;
}

li {
    list-style-type: none;
}

body {
    background-color: $dark;
    color:white;
    font-family: $mainFont;
}

h1{
    font-size: 2rem;
    font-family: $secondaryFont;
}

h2{
    font-family: $titleFont;
    font-size:3rem;
}

h3{
    font-family: $titleFont;
    font-size:1.5rem;
}

p {  
    color:$whiteText;
    line-height: 1.5;
    font-size:1.2rem;
}

nav {
    display: inline-block;
    text-transform: uppercase;
}


nav ul li {
    display: inline-block;
    margin-left: 20px;
}


label {
    color:white;
}

/* width */
::-webkit-scrollbar {
    width: 25px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0px 1px 13px 0px white;
    border-radius: 1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#77b77773;
    border-radius: 100%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #60946073; 
  }