*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #010211;
    color:white;
    font-family: 'Red Rose', cursive;
}

h1{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

h2{
    font-size:3rem;
}

h3{
    font-size:1.5rem;
}

p {  
    color:#D4D4D4;
    line-height: 1.5;
    font-size:1rem;
}

.header {
    /* background-color:#2c153c; */
    background-color: #010211;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* border: solid white 1px; */
}


.header-left a{
    transition: all 0.4s;
}

.header-left a:hover {
    color: #b5f1be;
    border: solid 1px white;
    padding: 3px 5px;
}

.subtitulo {
    color:white;
    font-size:1.2rem;
}

.header-right a {
    transition: all 0.3s;
    display: inline-block;
}


.header-right a:hover {
    color: #b5f1be;
    transform: scale(1.1);
    /* border: 2px solid white; */
    /* border-radius: 50px; */
    /* padding: 10px; */
}

/* HERO */
/* .hero {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;    
} */
/* .row {
    border: 1px white solid;
} */


.hero-left div {
   display: flex;
   justify-content: space-around;
}
.hero p {
    margin: 1.5rem 0;
}
.hero a {
    margin: 1.5rem 0;
}


.hero-right a {
    color:white;
}




@keyframes efecto{
    0%{ opacity: 0.7;}
    25%{ opacity: 0.5; transform: scale(1.5);}
    50%{ opacity: 0.3;}
    75%{ opacity: 0.5; transform: scale(1);}
    100%{ opacity: 0.7;}
} 


.hero-right h5:hover {
    color:#7BF18B;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;   
}

.buttons {
    margin-bottom: 20px;
}

.button {
    border-radius: 5px;
    padding: 5px;
    font-family: 'Red Rose', cursive;
    font-weight: bold;
    color: #363636;
    background-color: #7BF18B;
    cursor: pointer;
    text-align: center;    
}


.button.lunar, .button.epsylon {
    transition: all 0.3s;
}

 .button.lunar:hover{
    transform: scale(1.3);
    color: #363636;
}

.button.epsylon:hover {
    transform: scale(1.3);
    color: #363636;
}




/* CONTACT */

.contact {
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* background-image: url('../img/contact.jpg');  */
    background-size: cover; 
    
}

.contact-container {
    /* background-color: rgba(255,255,255,0.1); */
    border: 2px solid white;
    border-radius: 40px;
    height: 650px;
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:2px solid white;
    /* hace que al clickearlo no muestre el borde*/
    outline: none;
    color: white;
    font-family: 'Red Rose', cursive;
    font-size: 1.3rem;
    margin-top: 40px;
}

#pregunta, #suscribirme, #comentarios{
    margin-top: 40px;
}

#pregunta {
    font-family: 'Red Rose', cursive;
    margin-left: 15px;
    
}



.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  
}

.button.submit {
    margin-left: 30px;
}

.button.submit , .button.reset {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:0;
    /* hace que al clickearlo no muestre el borde*/
    outline: none;
    transition: all 0.4s;
}

.button.submit:hover , .button.reset:hover {
    transform:scale(1.2);
}


/* /CONTACT */

nav {
    display: inline-block;
    text-transform: uppercase;
}


nav ul li {
    display: inline-block;
    margin-left: 20px;
}





label {
    color:white;
}



.div_portal1_texto , .div_portal2_texto {
    background-color: #222222;
}

/* FOOTER */
footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    /* border: 1px solid white;   */
}
/* #footer-index {
    position: fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid white 1px;
} */

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    margin-right: 2rem;
}

footer a img {
    padding: 5px 10px 10px 10px;
    width: 50px;
    height: 50px;
    display: inline-block;  
    transition: all 0.5s; 
    
}

footer a img:hover {
    transform: rotate(10deg);  
}

/* /FOOTER */

/* acerca_de_mi.html */
.acercademi-container{
    
    border: 1px solid white;
    margin: 100px;
    padding: 20px;
    background-image: url('../img/mato.jpg');  
}
.acercademi-container p{
    margin-bottom: 3rem; 
}

.acercademi-container div {
    text-align: center;
    margin-bottom: 3rem;  
}

/* PORTALS */

.gallery-description {
    margin: 20px;
}
.gallery {
    /* border: 1px solid white; */
    margin:50px;
    text-align: center;  
}
.portal-descripcion {
    /* border: 1px solid white; */
    margin:50px;
    padding: 50px;
}


.gallery-images.uno ul {
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 2px violet solid; */
}

.gallery-images.dos ul {
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20%; */
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px violet solid; */
}



.gallery-images ul li {
    border: 1px white solid;
    margin: 10px;
    display: grid;
}

.gallery-images li a img{
    width: 100%;
}

.gallery-images li h3{
    margin: 10px;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: none;
}

#modal1:target {
    display: block;
}

#modal2:target {
    display: block;
}

.modal-container{
    background-color: #010211;
    position: relative;
    border: 1px white solid;
    top: 10%;
    left: 20%;
    width: 70%;
    display: flex;
}


.modal-container-left  {
    width: 40%;
    border: 1px white solid;
} 

.modal-container-left img {
    width: 100%;
} 

.modal-container-right{
    width: 50%;
    /* border: white 1px solid; */
   
}

.modal-container-right h2{
    margin: 20px;
    text-align: center;
}
.modal-container-right p{
    margin: 20px;
    text-align: center;
}

.modal-container a{
    position: absolute;
    top: 10px;
    right: 10px;
}

/* RESPONSIVE */


@media screen and (max-width: 1200px) and (min-width:768){
    .gallery-images.uno ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-images.dos ul{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 767px) and (min-width: 480){
    .gallery-images.uno ul{
        grid-template-columns: 1fr 1fr;
    }
    .gallery-images.dos ul{
        grid-template-columns: 1fr;
    }

    
    footer {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 479px){
    .gallery-images.uno ul{
        grid-template-columns: 1fr;
    }
 
    
    footer {
        flex-direction: column;
        align-items: center;
    }
    .header {
        flex-direction: column;
        margin: 0;
        margin-bottom: 40px;
        border-bottom: 1px solid white;
    }
    .header-left {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
  
    .header-right li  {
        display: flex;
        width: 100%;  
        }

    .hero h2  {
        font-size: 35px;
        text-align: center;
    }
    .hero p {
        text-align: center;
    }
    .hero .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        /* border: 1px solid white; */
    }

    .hero .buttons .button{
        display: inline-block;
        width: 100%;
        padding: 5px;
        text-align: center; 
    }
}







